@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #27736E;
    --color-orange: #F39945;
    --color-purple: #40407F;
    --color-black: #000000;


    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Aleo', serif;
}


/*---------------NAV*/


nav li {
    display: inline;
    text-align: center;
    padding: 2vw;
}

li a {
    text-decoration: none;
    font-family: var(--secondary-font);
    color: black;
}

.icon {
    padding-right: 0.5vw;
    height: 1.5vw;
}

button.login {
    text-decoration: none;
    background-color: var(--color-green);
    color: white;
    font-family: var(--secondary-font);
    padding: 0.5vw 2vw;
    border-radius: 50px;
    border: none;
}


.learnMore {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 1px black;
  color: var(--color-black);
  font-size: 18px;
  padding: 6px 9px;
  font-family: var(--primary-font);
}


article a {
  text-decoration: none;
  color: var(--color-black:);
  transition: all 0.3s;
}

article a:hover {
  text-decoration: none;
  color: var(--color-black:);
  transform: scale(1.2);
}


.nav1 {
    padding: 0.5vw 5vw;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;

}

.rightnav1 {
    display: flex;
    justify-content: flex-end;
}

.leftnav2 {
    padding: 1vw 5vw;
}

.nav2 {
    font-size: 1.2vw;
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;

}

.nav2 :first-child {
    padding-right: 0;
    vertical-align: middle
}


/*---------------BANNER*/

.bannermain {
    background-image: url(img/bluebanner.png);
    background-size: 100%;
    height: 34vw;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 5fr;
    color: white;
    font-family: var(--primary-font);
}

/* LATER
.line {
   border-right: 3px solid red;
    height: 25vw;
    position: absolute;
    left: 20vw;
}
*/



h1 {
    font-family: var(--secondary-font);
    font-size: 5vw;
    margin: 0;
}

.bannerleft {
    padding: 3vw 5vw;
}

.bannerleft p {
    padding-top: 5vw;
    font-size: 1.3vw;
    font-weight: 200
}

.bannerright {
    padding: 3vw 7vw 3vw 5vw;
    font-weight: 200;
}

.bannerright p {
    font-size: 1.2vw;
    font-weight: 200;
    line-height: 3vw
}

#help {
    font-size: 1.5vw;
}

h5 {
    margin: 0;
    font-family: var(--secondary-font);
    padding-right: 1vw;
    color: var(--color-orange);
    font-size: 2.5vw;
}

.questionnaire {
    padding-top: 6vw;
    display: flex;
}

.orangearrow {
    height: 3vw;
    vertical-align: middle;
}

.shortdescription {
   font-family: var(--primary-font);
    padding: 10px;
}



/*--------FILTER*/

ul.filters {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2vw 30vw;
    font-family: var(--primary-font);
    font-size: 1.1vw;
}

.filters li + li::before {
    content: "|";
    color: #A2A2A2;
    margin-right: 4vw;
    display: inline-block
}


/*--------MAIN */


main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 0 8vw;
}

article {
    border-radius: 3px;
-webkit-box-shadow: 2px 2px 6px 4px rgba(224,224,224,1);
-moz-box-shadow: 2px 2px 6px 4px rgba(224,224,224,1);
box-shadow: 2px 2px 6px 4px rgba(224,224,224,1);
}

.lifechangecard {
    text-align: center;
    padding-top: 4vw;

}


.product_image {}

h2 {
    padding-top: 2.5vw;
    font-family: var(--secondary-font)
}
